/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Universal Font */
html {
    font-family: "Poppins", sans-serif;
}
/* Headings Font */
.heading,
.section-heading {
    font-family: "Roboto", sans-serif;
}

.main-heading {
    font-size: 48px;
    font-weight: bold;
}

.component-heading {
    font-style: italic;
}

/* General Styles */
body {
    font-family: "Poppins", sans-serif;
    background-color: #d6d6d6;
}


/* Navbar */
nav.navbar {
    background-color: rgb(121, 82, 179);
}

/* Navbar links */
nav.navbar.navbar-light .navbar-nav a.nav-link,
nav.navbar.navbar-light .navbar-brand {
    color: #fafafa;
}

nav.navbar.navbar-light .navbar-nav a.nav-link {
    font-size: 18px;
}

nav.navbar.navbar-light .navbar-brand {
    font-size: 32px;
    font-weight: bold;
}

/* Active link */
nav.navbar.navbar-light .navbar-nav a.nav-link.active-link {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

/* Alert component styles */

.alert-section .alert {
    background-color: rgb(160, 8, 41);
    color: #fafafa;
    border-radius: 0px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/* Badge component styles */

.badge#first-badge {
    background-color: red;
    padding: 12px;
    box-shadow: -4px 2px 4px 6px rgba(0, 0, 0, 0.5);
}

.badge#second-badge {
    background-color: green;
    padding: 14px;
    border: 2px solid white;
}

.badge#third-badge {
    background-color: rgb(3, 3, 133);
    padding: 10px;
    text-transform: uppercase;
    font-style: italic;
}

.badge#fourth-badge {
    background-color: rgb(122, 114, 0);
    padding: 20px;
    border-radius: 0px;
    border: 3px dotted #000;
}

.badge#fifth-badge {
    background-color: orange;
    text-decoration: underline;
    font-size: 16px;
    padding: 8px;
}

.badge#sixth-badge {
    background-color: rgb(48, 1, 48);
    padding: 24px;
    border-radius: 50%;
    font-weight: 400;
}

.badge#seventh-badge {
    background-color: rgb(211, 54, 198);
    color: #fff;
    padding: 24px;
    border-radius: 0px;
    border: 2px dashed blue;
}

/* Button component styles */
.btn#first-btn {
    background-color: blue;
    color: #fff;
    padding: 12px;
}

.btn#second-btn {
    background-color: #3f3f3f;
    color: #fafafa;
}

.btn#third-btn {
    background-color: rgb(126, 0, 0);
    color: #fafafa;
    border-radius: 0px;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.8);
}

.btn#fourth-btn {
    background-color: cadetblue;
    font-weight: bold;
    text-transform: uppercase;
    border: 3px solid rgb(128, 83, 0);
}

.btn#fifth-btn {
    background-color: rgb(250, 7, 209);
    color: #fafafa;
    font-weight: bold;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0px 0px 6px 8px rgba(146, 4, 202, 0.5)
}

.btn#sixth-btn {
    background-color: rgb(59, 29, 0);
    color: #fafafa;
    border: 4px solid blue;
}

.btn#seventh-btn {
    background-color: lawngreen;
    font-weight: bold;
    font-style: italic;
    border-radius: 20px;
}