/* Google Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Universal Font */
html {
    font-family: "Poppins", sans-serif;
}
/* Headings Font */
.heading,
.section-heading {
    font-family: "Roboto", sans-serif;
}

.main-heading {
    font-size: 48px;
    font-weight: bold;
}

.component-heading {
    font-style: italic;
}

/* General Styles */
body {
    font-family: "Poppins", sans-serif;
    background-color: #d6d6d6;
}


/* Navbar */
nav.navbar {
    background-color: rgb(121, 82, 179);
}

/* Navbar links */
nav.navbar.navbar-light .navbar-nav a.nav-link,
nav.navbar.navbar-light .navbar-brand {
    color: #fafafa;
}

nav.navbar.navbar-light .navbar-nav a.nav-link {
    font-size: 18px;
}

nav.navbar.navbar-light .navbar-brand {
    font-size: 32px;
    font-weight: bold;
}

/* Active link */
nav.navbar.navbar-light .navbar-nav a.nav-link.active-link {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

/* Alert component styles */

.alert-section .alert {
    background-color: rgb(160, 8, 41);
    color: #fafafa;
    border-radius: 0px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/* Badge component styles */